name: Running CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Check out source code
        uses: actions/checkout@v1

      - name: Running CI
        run: make ci

      - name: Upload code coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CodeCovToken }}
        run: |
          bash <(curl -s https://codecov.io/bash)
